{% extends "base.html" %}
{% block costume_style %}{% endblock %}
{% block main %}
        <hr>
        <main class="container">
            <div class="content">
                <div class="raw">
                    <h3>这是首页</h3>
                    <section id="follow">
                    <h4>我会在这里放上关注用户</h4>
                    <p>这是他们的动态</p>
                    </section>
                    <section id="trace">
                    <h4>我在这里放上了你的浏览记录</h4>
                    <p>这是你刚才驻留许久的小姐姐的帖子</p>
                    </section>
                </div>
            </div>
        </main>
        <article>
            <blockquote>
                <p>「我很想啊，就是我每一次碰到你們我就講，中國有一句話叫『悶聲發大財』。我就什麼話也不說。就是坠吼滴！但是我想我見到你們這樣熱情啊，一句話不說也不好。」</p>
                <footer><cite>長者</cite></footer>
            </blockquote>
        </article>
{% endblock %}
