{% extends "base.html" %}
{% block costume_style %}
<style>
    /* 哇啦哇啦哇啦哇啦 */
    /* 阿巴阿巴阿巴阿巴 */
</style>
{% endblock %}
{% block main %}
<main>
    <article>
        {%- if db_user -%}
        <h4>{{ db_user.nickname }}{%- if db_user.username -%}&nbsp;<sub>@<code>{{ db_user.username }}</code></sbu>{%- endif -%}</h4>
        <div class="grid">
            <p>
                <small>
                    UID: <code><i>{{ db_user.id }}</i></code>
                </small>
            </p>
            <p>
                昵称：&nbsp;<small>{{ db_user.nickname }}</small>
            </p>
        </div>
        <div class="grid">
            {%- if db_user.gender -%}<p>性别：&nbsp;<small>{{ db_user.gender }}</small></p>{%- endif -%}
            {%- if db_user.birth -%}<p>生日：&nbsp;<small>{{ db_user.birth }}</small></p>{%- endif -%}
        </div>
        <div class="grid">
            {%- if db_user.info -%}<p>个人简介：&nbsp;<small>{{ db_user.info }}</small></p>{%- endif -%}
        </div>
        <!--
        <div class="profile-container">
            <!- -这本身不会有什么，其他的CSS都是对其【内部元素】的控制。- ->
            <div class="avatar-container"> <! --头像- ->
                <img src="{{ db_user.avatar_link }}">
            </div>
            <div class="profile-info">
                <p class="id"></p>
                <p class="nickname"></p>
            </div>
        </div>
        -->
        {% else %}
        <h3>查无此人</h3>
        <p>请您<a href="/login">登录</a>。</p>
        {%- endif -%}
    </article>
</main>
{% endblock %}