{% extends "base.html" %}
{% block costume_style %}{% endblock %}
{% block main %}
{# Flash here. #}
<nav class="container-fluid">
    <ul>
        <li><a id="slogan" href="/">
            <kbd>CatCove</kbd>
        </a></li>
        <li> | </li>
        <li><small><a href="/explore">发现</a></small></li>
        <li><small><a href="/mark">书签</a></small></li>
        <li><small><a href="/about">关于</a></small></li>
    </ul>
    <ul>
        <li>
        <div class="user-status">
            {% if user %}
            <details role="list" dir="rtl">
                <summary aria-haspopup="listbox" role="link">{{ user.name }}</summary>
                <ul role="listbox">
                    <li><a href="#me">个人主页</a></li>
                </ul>
            </details>
            {% else %}
            <details role="list" dir="rtl">
                <summary aria-haspopup="listbox" role="link">申必人</summary>
                <ul role="listbox">
                    <li><a href="/login">登录</a></li>
                    <li><a href="/signup">注册</a></li>
                </ul>
            </details>
            {% endif %}
        </div>
        </li>
    </ul>
</nav>
<hr>
<main class="container">
    <div class="content">
        <article>
            <h1>关于</h1>
            <section id="intro">
            <h2>什么是<code>CatCove</code>？</h2>
            <p>这是一个几千行代码的<del>屎山</del>。</p>
            <p>
                <code>CatCove</code>（猫湾）是一个轻量、介于SNS与论坛的网站。如页脚所示，它基于<code>Sanic</code>来充当后端，<code>Jinja2</code>实现模板并且用<code>Pico.css</code>进行美化。
            </p>
            <p>它也是我的练手作品，也就是说，只要我想搞，我会继续维护这个repository的。</p>
            <p>
                从另一种角度来讲，它也是某些网站的后花园。随着最近 <s>censorship</s> 的加剧，大家也需要一个场所去敞开心怀的聊天交友。那么，这个猫湾就是很多人在赛博空间里的避风港。
            </p>
            </section>
            <section id="artitecture">
                <h2>架构</h2>
                <p>模板渲染与API并存，有少量的<code>JavaScript</code>脚本。</p>
            </section>
        </article>
    </div>
</main>
{% endblock %}