{% extends "base.html" %}
{% block costume_style %}{% endblock %}
{% block main %}
{# Flash here. #}
<nav class="container-fluid">
    <ul>
        <li><a id="slogan" href="/">
            CatCave<!-- 后面会加上一堆艺术字什么的 -->
        </a></li>
        <li> | </li>
        <li><small>等你回来</small></li>
    </ul>
</nav>
<hr>
<main class="container">
    <article>
        <h2>推荐的其他站点</h2>
        <hr>
        <ul>
            <li><a href="https://www.bilibili.com">哔哩哔哩动画</a><small>二刺螈网站，懂得都懂</small></li>
            <li><a href="https://tieba.baidu.com">百度贴吧</a><small>一眼丁真，鉴定为 脑袋进矢</small></li>
            <li><a href="#rickroll">俊 豪 金 曲 站 长 推 荐</a></li>
        </ul>
    </article>
</main>
{% endblock %}